<!DOCTYPE html>
<html lang="en">
  <head>
    <title>eZManage - The best website to Manage Your users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>


  	<nav id="navbar" class="navbar">
		  <ul class="nav-menu">
		    <li>
		      <a data-scroll="home" href="#home" class="dot active">
		        <span>Home</span>
		      </a>
		    </li>
		    <li>
		      <a data-scroll="about" href="#about" class="dot">
		        <span>About</span>
		      </a>
		    </li>
		    <li>
		      <a data-scroll="services" href="#services" class="dot">
		        <span>Services</span>
		      </a>
		    </li>
		    <li>
		      <a data-scroll="testimonial" href="#testimonial" class="dot">
		        <span>Testimony</span>
		      </a>
		    </li>
		    <li>
		      <a data-scroll="contact" href="#contact" class="dot">
		        <span>Contact</span>
		      </a>
		    </li>
		  </ul>
		</nav>
		<!-- End Nav Section -->

		<!-- Start Home Section -->
		<section id="home" class="hero-wrap js-fullheight" style="background-image: url(https://images.unsplash.com/photo-1521247205284-f4f3c95fdb5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=956&q=80);" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-lg-7 ftco-animate d-flex align-items-center">
          	<div class="text text-center">
          		<h1 class="logo"><a href="/home"><span class="flaticon-camera-shutter"></span>eZManage<small>Establish/ Manage / Grow</small></a></h1>
		  				<h1 class="mb-4">You Build <br>We Manage</h1>
		  				<p class="mb-4">You builld we help you to manage your Employee details. With eZManage we help you to Manage your employee details. So that you can focus on your Company Growth.</p>
		  				<p class="mt-5"><a href="/home" class="btn-custom">Get Started <span class="ion-ios-arrow-round-forward"></span></a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
		<!-- End Home Section -->

		<!-- Start About Me Section -->
		<section class="ftco-about img ftco-section" id="about">
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class="col-md-6 col-lg-6 d-flex">
    				<div class="img-about img d-flex align-items-stretch">
    					<div class="overlay"></div>
	    				<div class="img img-video d-flex align-self-stretch align-items-center" style="background-image:url(https://images.unsplash.com/photo-1597233447195-2025d25682d9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);">
	    				</div>
    				</div>
    			</div>
    			<div class="col-md-6 col-lg-6 pl-md-5">
	          <div class="heading-section ftco-animate">
	            <h2 class="mb-4">eZManage is a <br>details managing company</h2>
	            <p>User management, in its simplest form, is the method by which you create, remove and
					maintain your user store. Any solution designed to serve multiple users must have some type of a user management system, be it a proprietary tool built into the product or a tie into an existing system such as Active Directory/LDAP, or another identity provider.</p>

	            <div class="counter-wrap ftco-animate d-flex my-md-4">
	              <div class="text">
	              	<p class="mb-4">
		                <span class="number" data-number="120">0</span>
		                <span>Project complete</span>
	                </p>
	              </div>
		          </div>
		          <div class="d-flex w-100">
		          <blockquote class="blockquote mt-5">
		          	<p class="mb-2">"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.."</p>
		          	<span>&mdash; Lucy Lee</span>
		          </blockquote>
	          </div>
	        </div>
        </div>
    	</div>
    </section>
		<!-- End About Me Section -->

		<!-- Start Services Section -->
		<section id="services" class="ftco-section">
		  <div class="container">
		  	<div class="row">
		  		<div class="col-md-9">
		  			<div class="row">
				  		<div class="col-md-8 heading-section ftco-animate pb-5">
		            <h2 class="mb-4">Managing Services</h2>
		            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>
		          </div>
				  	</div>
		  			<div class="row">
		        	<div class="col-md-4">
		        		<div class="media block-6 services d-block ftco-animate">
		              <div class="icon"><span class="flaticon-video-camera"></span></div>
		              <div class="media-body">
		                <h3 class="heading mb-3">Integration</h3>
		                <p>Integration is the ability to tie into existing systems through an agent or by federation. This makes the migration off of older systems a breeze, or at least eases user adoption in that users can immediately use their existing credentials in the new system.</p>
		              </div>
		            </div> 
		        	</div>
		        	<div class="col-md-4">
		        		<div class="media block-6 services d-block ftco-animate">
		              <div class="icon"><span class="flaticon-video-player"></span></div>
		              <div class="media-body">
		                <h3 class="heading mb-3">scale the growth</h3>
		                <p>Management includes all the features that allow you to complete user management tasks once users are in the system. This includes user and password storage, CRUD (create, update, read, and delete) operations, policy (security, password) management, attribute transformation, and self service flows such as account recovery and registration.</p>
		              </div>
		            </div> 
		        	</div>
		        	<div class="col-md-4">
		        		<div class="media block-6 services d-block ftco-animate">
		              <div class="icon"><span class="flaticon-video-player-1"></span></div>
		              <div class="media-body">
		                <h3 class="heading mb-3">Unify access</h3>
		                <p>Management includes all the features that allow you to complete user management tasks once users are in the system. This includes user and password storage, CRUD (create, update, read, and delete) operations, policy (security, password) management, attribute transformation, and self service flows such as account recovery and registration.</p>
		              </div>
		            </div> 
		        	</div>
	        	</div>
	        </div>
	        <div class="col-md-3 d-flex align-items-stretch">
	        	<div class="img w-100" style="background-image: url(https://images.unsplash.com/photo-1658486428378-ea8f6a76acc2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);"></div>
	        </div>
        </div>
        <div class="row progress-circle pt-md-5">
        	<div class="col-md-7 order-md-last py-md-5">
        		<div class="row">
				  		<div class="col-md-4 mb-md-0 mb-4 ftco-animate">
					      <div class="">
					        <h2 class="text-center mb-4">Creation</h2>

					        <!-- Progress bar 1 -->
					        <div class="progress mx-auto" data-value='90'>
					          <span class="progress-left">
		                  <span class="progress-bar border-primary"></span>
					          </span>
					          <span class="progress-right">
		                  <span class="progress-bar border-primary"></span>
					          </span>
					          <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
					            <div class="h5">90<sup class="small">%</sup></div>
					          </div>
					        </div>
					        <!-- END -->
					      </div>
					    </div>

					    <div class="col-md-4 mb-md-0 mb-4 ftco-animate">
					      <div class="">
					        <h2 class="text-center mb-4">Development</h2>

					        <!-- Progress bar 1 -->
					        <div class="progress mx-auto" data-value='80'>
					          <span class="progress-left">
		                  <span class="progress-bar border-primary"></span>
					          </span>
					          <span class="progress-right">
		                  <span class="progress-bar border-primary"></span>
					          </span>
					          <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
					            <div class="h5">80<sup class="small">%</sup></div>
					          </div>
					        </div>
					        <!-- END -->
					      </div>
					    </div>

					    <div class="col-md-4 mb-md-0 mb-4 ftco-animate">
					      <div class="">
					        <h2 class="text-center mb-4">Production</h2>

					        <!-- Progress bar 1 -->
					        <div class="progress mx-auto" data-value='75'>
					          <span class="progress-left">
		                  <span class="progress-bar border-primary"></span>
					          </span>
					          <span class="progress-right">
		                  <span class="progress-bar border-primary"></span>
					          </span>
					          <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
					            <div class="h5">75<sup class="small">%</sup></div>
					          </div>
					        </div>
					        <!-- END -->
					      </div>
					    </div>

					    <div class="p-md-4 mt-4">
					    	<div class="col-md-8 ftco-animate">
						    	<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast.</p>
					    	</div>
					    </div>
					  </div>
					</div>
					<div class="col-md-5 d-flex align-items-stretch">
	        	<div class="img w-100" style="background-image: url(https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);"></div>
	        </div>
		  	</div>
		  </div>
		</section>  
		<!-- End Services Section -->
		<section class="ftco-section testimony-section" id="testimonial">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-4 heading-section ftco-animate">
          	<span class="subheading">Testimony</span>
            <h2 class="mb-4">Our satisfied customer says</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <div class="pl-5">
	                    <p class="name">Garreth Smith</p>
	                    <span class="position">CEO Founder of Commercial Building</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(images/person_2.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <div class="pl-5">
	                    <p class="name">Garreth Smith</p>
	                    <span class="position">CEO Founder of Interior Design</span>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <div class="pl-5">
	                    <p class="name">Garreth Smith</p>
	                    <span class="position">Exterior Designer</span>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <div class="pl-5">
	                    <p class="name">Garreth Smith</p>
	                    <span class="position">Landscape Designer</span>
	                  </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url(images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    <div class="pl-5">
	                    <p class="name">Garreth Smith</p>
	                    <span class="position">System Analyst</span>
	                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>
		</section>

		<!-- Start Contact Section -->
		<section class="ftco-section contact-section" id="contact">
      <div class="container">
      	<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-4 heading-section text-center ftco-animate">
            <h2 class="mb-4">Contact Me</h2>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-3 d-flex ftco-animate">
          	<div class="align-self-stretch box text-center p-4">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-map-signs"></span>
          		</div>
          		<div>
	          		<h3 class="mb-4">Address</h3>
		            <p>198 West 21th Street, Suite 721 New York NY 10016</p>
		          </div>
	          </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
          	<div class="align-self-stretch box text-center p-4">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-phone2"></span>
          		</div>
          		<div>
	          		<h3 class="mb-4">Contact Number</h3>
		            <p><a href="tel://1234567920">+ 1235 2355 98</a></p>
	            </div>
	          </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
          	<div class="align-self-stretch box text-center p-4">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-paper-plane"></span>
          		</div>
          		<div>
	          		<h3 class="mb-4">Email Address</h3>
		            <p><a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
		          </div>
	          </div>
          </div>
          <div class="col-md-3 d-flex ftco-animate">
          	<div class="align-self-stretch box text-center p-4">
          		<div class="icon d-flex align-items-center justify-content-center">
          			<span class="icon-globe"></span>
          		</div>
          		<div>
	          		<h3 class="mb-4">Website</h3>
		            <p><a href="#">yoursite.com</a></p>
	            </div>
	          </div>
          </div>
        </div>

        <div class="row block-9">
          <div class="col-md-12 ftco-animate">
            <form action="#" class="contact-form p-4 p-md-5 py-md-5">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          </div>

          <div class="col-md-6 d-flex align-items-stretch">
          	<div id="map"></div>
          </div>
        </div>
      </div>
    </section>
		<!-- End Contact Section -->


		<!-- Start Footer Section -->
		<footer class="ftco-footer py-5">
		  <div class="container text-center">
		    <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | eZmanage created <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">eZManage Group of Industries</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

					  <ul class="ftco-footer-social p-0">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
		  </div>
		</footer>
		<!-- End Footer Section -->
   

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>